:root {
  --white: #fff;
  --black: #171717;
  --gold: #FFD700;
  --metallic-gold: #D4AF37; 
  --hero-black: #0A0708;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-width: 300px;
}

body {
  color: var(--white);
  background: var(--black);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}